h1 {
    color: red
}

.container {
    width: 330px;
    height: 330px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}

.div {
    width: 10px;
    height: 10px;
    background-color: orange;
    margin: 5px;
    flex: 1 0 1;
    /*align-items: center;*/
}